<!DOCTYPE html>
<html>
  <head>
    <title>aestylo: training...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="start" onload="training()">
    <div class="top-container">
        <span class="branding">deforum:aestylo</span>
    </div>
    <div class="et-content">
      <h1>Training...</h1>
      <div class="trainer"></div>
     </div>
  </body>
  <script>
    function training() {
      fetch("/training")
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => {
          console.error(error);
        });
    }
  </script>
</html>